.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable:hover::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: none;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  opacity: 0.0;
}