.carousell {
  display: flex;
  padding-left: 3em;
  padding-right:3em;
  gap: 3em;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousell::-webkit-scrollbar {
  display: none;
}

.carousell > * {
  flex-shrink: 0;
  scroll-snap-align: center;
}